	h1,h2,h3{
			color:red;
			background-color:green; 
			text-transform:uppercase;
		}
		
		.s1{
			color:pink;
			background-color:red;
		}
		
		.cen{
			text-align:center;
			text-decoration:underline;
		}
		
		#s2{
			color:yellow;
			background-color:blue;
		}
		
		h4.s3{
			text-transform:uppercase;
		}